.main {
  margin-top: -16rem;
}
/* 

===================
  services section
===================

*/
.services {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.service {
  background-color: var(--white);
  color: var(--dark-gray);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 2rem;
  width: 30rem;
  height: 26rem;
  text-align: center;
  flex-grow: 1;
}

.service__img {
  display: block;
  width: 9rem;
  height: 9rem;
  object-fit: contain;
}

.service__title {
  font-family: var(--secondary-font);
  font-size: 1.8rem;
}

.service__caption {
  max-width: 29rem;
  min-width: 27rem;
  width: 100%;
}
/* 

=======================
  Destinations section
=======================

*/
.destinations {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  margin-top: 6rem;
}

.destinations__img {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
}

.destinations__title {
  font-family: var(--secondary-font);
  font-size: 2.5rem;
  color: var(--dark-gray);
  text-align: center;
  min-width: 26rem;
  max-width: 40rem;
  width: 100%;
  height: 10rem;
}

.destinations__places {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
  gap: 2rem;
}

.place {
  max-width: 32rem;
  width: 100%;
  height: 44rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: var(--white);
  border-radius: 2rem;
  text-align: center;
  flex-grow: 1;
  position: relative;
}

.place__img {
  display: block;
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-radius: 2rem;
}

.place__like {
  display: block;
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 4rem;
  right: 4rem;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}

.place__like-img {
  display: block;
  width: 2rem;
  height: 2rem;
  object-fit: cover;
}

.place__price-text {
  margin-top: -5rem;
  padding: 1rem 3rem;
  font-family: var(--primary-font-md);
  font-size: 1.4rem;
  background-color: var(--white);
  color: var(--orange);
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.place__title {
  font-family: var(--secondary-font);
  font-size: 1.8rem;
  color: var(--dark-gray);
}

.place__caption {
  max-width: 27rem;
  width: 100%;
  color: var(--dark-gray);
}

.place__link {
  background-color: var(--light-gray-200);
  color: var(--dark-gray);
  font-family: var(--primary-font-md);
}

.place__link:hover {
  background-color: var(--dark-gray);
  color: var(--light-gray-200);
}

.destinations__link {
  background-color: var(--white);
  color: var(--orange);
  border: 0.1rem solid var(--orange);
  flex-grow: 0;
}

.destinations__link:hover {
  background-color: var(--orange);
  color: var(--white);
}
